*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #001aff, #2bff00);
  animation: gradient 10s ease infinite;
  background-size: 200%;
  background-position: 0% 50%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.table tbody tr {
  height: 50px;
}

.table-bordered td, .table-bordered th {
  vertical-align: middle;
}

.borderless td {
  border: none !important;
}
